In [87]:

from splinter import Browser
from bs4 import BeautifulSoup

In [88]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
#return browser

In [89]:
# go to Mars Nasa site
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [90]:
# find the news list
html = browser.html
news_soup = BeautifulSoup(html, 'html.parser')

news_list= news_soup.select_one('ul.item_list li.slide')
#news_list

In [91]:
#find the title
news_list.find("div", class_='content_title')

In [92]:

news_title = news_list.find("div", class_='content_title').get_text()
news_title

'Why This Martian Full Moon Looks Like Candy'

In [93]:
# find the paragraph
news_p = news_list.find('div', class_="article_teaser_body").get_text()
news_p

"For the first time, NASA's Mars Odyssey orbiter has caught the Martian moon Phobos during a full moon phase. Each color in this new image represents a temperature range detected by Odyssey's infrared camera."

In [94]:
# visit Url jpl mars space image
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [95]:
# find the full image
full_image_page = browser.find_by_id('full_image')
full_image_page.click()

In [96]:
# find the more info button

more_info_button = browser.find_link_by_partial_text('more info')
more_info_button.click()

In [97]:

html = browser.html
img_soup = BeautifulSoup(html, 'html.parser')
#img_soup

In [98]:
# find the url
img_url_1 = img_soup.select_one('figure.lede a img').get("src")
img_url_1

'/spaceimages/images/largesize/PIA16565_hires.jpg'

In [99]:
# the long url
img_url = f'https://www.jpl.nasa.gov{img_url_1}'
img_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16565_hires.jpg'

In [ ]:
# Mars Weather

In [100]:
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)

In [101]:
html = browser.html
weather_soup = BeautifulSoup(html, 'html.parser')

In [102]:
# find tweet on `Mars Weather`
mars_weather_tweet = weather_soup.find('div', attrs={"class": "tweet", "data-name": "Mars Weather"})

In [103]:

mars_weather = mars_weather_tweet.find('p', 'tweet-text').get_text()
mars_weather

'InSight sol 159 (2019-05-08) low -100.3ºC (-148.5ºF) high -21.6ºC (-6.9ºF)\nwinds from the SW at 4.6 m/s (10.4 mph) gusting to 15.3 m/s (34.2 mph)\npressure at 7.40 hPapic.twitter.com/rg5UKl8dLc'

In [104]:
# Mars Facts

In [105]:
import pandas as pd
df = pd.read_html('http://space-facts.com/mars/')[0]
df.columns=['description', 'value']
df.set_index('description', inplace=True)
df

                                              value
description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [106]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>value</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [ ]:
# Mars Hemisphere

In [107]:
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [108]:
hemisphere_image_urls = []


links = browser.find_by_css("a.product-item h3")


for i in range(len(links)):
    hemisphere = {}
    
    browser.find_by_css("a.product-item h3")[i].click()
    sample_image = browser.find_link_by_text('Sample').first
    hemisphere['img_url'] = sample_image['href']
    
    # find title
    hemisphere['title'] = browser.find_by_css("h2.title").text
    

    hemisphere_image_urls.append(hemisphere)
    
    
    browser.back()

In [109]:
hemisphere_image_urls

[{'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

In [110]:
browser.quit()